{% extends "base/base.html" %}

{% block title %}README{% endblock title %}

{% block main %}

<div class="text-center">
    <h1>V2 - Report page</h1>
    <h5>ссылка на проект в GitHub - <a href="https://github.com/Rybak-a87/report_page-django">Rybak-a87/report_page-django</a></h5>
    <div class="col-lg-5 m-auto">
       <ul>
           <p><li>Анонимный пользователь может получить доступ только к странице README и формам входа или регистрации.</li></p>
           <p><li>Пользователь может создавать, удалять или просматривать список только своих записей</li></p>
           <p><li>Чтобы создать запись, пользователь предоставит следующие данные: дата, расстояние, продолжительность</li></p>
           <p><li>Когда пользователь видит список записей, приложение также показывает среднюю скорость</li></p>
           <p><li>Пользователь имеет возможность фильтровать список записей по диапазону дат.</li></p>
           <p><li>Есть страница с недельной статистикой за последний год - номер недели, общее количество записей,
            общее расстояние, общая продолжительность и средняя скорость за неделю.</li></p>
           <p><li>Минимальный внешний вид. Использовался bootstrap</li></p>
      </ul>
    </div>
</div>


{% endblock main %}
