{% extends "base/base.html" %}

{% block title %}Статистика{% endblock title %}

{% block main %}

    <h1 class="text-center" style="color: brown;">Статистика</h1>

    {% for week in weeks %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <p>
                  <h4>Номер недели: {{ week.week_number }}</h4>
                </p>
                <p><strong><i>Количество записей:</i></strong> {{ week.total_entries }}</p>
                <p><strong><i>Общее расстояние:</i></strong> {{ week.total_distance }}</p>
                <p><strong><i>Общая продолжительность времени:</i></strong> {{ week.total_duration }}</p>
                <p><strong><i>Средняя скорость за неделю:</i></strong> {{ week.average_speed }}</p>
                <hr>
            </div>
        </div>
    {% endfor %}

{% endblock main %}